:root {
  --cubic-in: cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

#meniu-navigare-li-notificari-noi,
#meniu-navigare-li-mesaje-noi,
li > a[href="/logout.php"][title="Deconectare"],
#adbw > div {
  display: none;
}

progress[value] {
  --color: rgb(48, 114, 171);
  --background: #272a2b77;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 200px;
  margin: 0 10px;
  border-radius: 10em;
  border: 1px var(--color) solid;
  background: var(--background);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

label {
  font-weight: bold;
  display: block;
}

#navbar > ul > li,
.navbar-header {
  width: 5rem;
  height: 5rem;
}

#navbar > ul > li:hover,
.navbar-header > a:hover {
  background-color: #0a0b0c !important;
  border-radius: 100rem;
}

#navbar > ul:nth-child(1) > li:nth-child(1) {
  width: 17rem;
  &:hover {
    background-color: transparent !important;
  }
}

code {
  cursor: pointer;
}

.dropdown-menu {
  border-width: 0px !important;
}

.dropdown-toggle::after {
  color: transparent;
}

svg {
  fill: #929292;
}

a:hover svg {
  fill: #ffffff;
}

.list-group-item:not(.dropdown) {
  transition: all 0.15s var(--cubic-in);
  &:hover:not(.no-pbs-hover) {
    transition: all 0.3s var(--cubic-in);
    transform: scaleX(1.1);
    border-radius: inherit;
    border-width: 1px;
    z-index: 9999;
  }
}

#navigare-li-solutii:hover {
  transform: scaleX(1) !important;
}

ul.dropdown-menu.show {
  margin-top: 0 !important;
}

.CodeMirror {
  background: #36393d !important;
  border-color: #495057 !important;
}

.CodeMirror-gutters {
  background: #2b2c2f !important;
  border-right: #495057 !important;
}

a.dropdown-toggle.show svg {
  fill: #ffffff;
}

.ripple {
  animation: greenglow 500ms;
}

@keyframes greenglow {
  0% {
    filter: drop-shadow(0 0 0 rgb(157, 255, 157));
  }
  20% {
    filter: drop-shadow(0 0 50px rgb(157, 255, 157));
  }
  70% {
    filter: drop-shadow(0 0 10px rgb(157, 255, 157));
  }
  100% {
    filter: drop-shadow(0 0 0 rgb(157, 255, 157));
  }
}

thead th,
tbody th {
  background-color: #393c3f !important;
  color: #ffffff !important;
}

.pbs_tooltip {
  display: none;
}

li:hover .pbs_tooltip {
  display: block;
}

.scrollAnimation {
  transition: all 0.3s ease-in-out;
  transform: translateX(-10px);
  opacity: 0.5;

  &.inView {
    transform: inherit;
    opacity: inherit;
    transition: all 0.3s ease-in-out;
  }
}

.card {
  background: #00000055 !important;
  border: 0 !important;
  border-radius: 20px !important;
  transition: all 0.15s ease-in-out;
  padding: 1rem !important;

  .card-header,
  .card-body,
  .card-footer {
    background-color: transparent !important;
    border: 0 !important;
  }

  &:hover {
    box-shadow: 0 8px 32px 0 #00000099;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: all 0.15s ease-in-out;
  }
}

.list-group-item {
  background: #00000055 !important;

  &:hover {
    z-index: 9999;
  }
}

.list-group {
  transition: all 0.15s ease-in-out;
  border-radius: 20px !important;

  &:hover {
    box-shadow: 0 8px 32px 0 #00000099;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(8.5px);
    transition: all 0.15s ease-in-out;
  }
}

.btn-light {
  background-color: #ffffff55 !important;
  transition: background-color 0.3s ease-in-out;
  border: 0 !important;
  color: white !important;

  &:hover {
    background-color: #ffffff44 !important;
    transition: background-color 0.3s ease-in-out;
  }
}

body {
  padding: 0 !important;
}
