@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&family=Poppins:wght@400;700&display=swap");

* {
  font-size: large;
}

body {
  min-width: 30rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a7b9b;
  background: linear-gradient(
    142deg,
    rgba(42, 123, 155, 1) 20%,
    rgb(37, 253, 206) 100%
  );
  background-repeat: no-repeat;
  user-select: none;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #475c64;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  scale: 1;
  transition: all 0.2s ease-in-out;

  &.setting {
    width: 100%;
  }
}

input[type="password"] {
  margin: 1rem 0;
}
input[type="text"],
input[type="password"] {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: medium;
  width: calc(100% - 1.5rem);
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(3, 75, 134);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  cursor: text;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: #2a7b9b 0 0 2rem 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #2a7b9b;
  margin: 0 2rem;
}

.setting {
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 1.5rem;
  transition: filter 0.2s ease-in-out;

  &:hover {
    transition: filter 0.2s ease-in-out;
    filter: brightness(0.8);
  }
  .label,
  &.switch {
    cursor: pointer;
  }

  input {
    outline: transparent;
  }

  &.text label {
    margin: 0.75rem;
  }

  &.button {
    border-radius: 1.5rem;
    height: 1.9rem;
    overflow: hidden;

    &:hover .label-icon {
      transform: rotate(90deg);
      transition: transform 0.2s;
    }

    &.active {
      height: fit-content;
      filter: brightness(1);

      .label-icon {
        transform: rotate(180deg);
        transition: transform 0.2s;
      }
    }
  }
}

#algs {
  width: calc(100% - 2rem);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
  overflow: hidden;
  height: 0%;

  button {
    cursor: pointer;
  }
}

.switch {
  display: flex;
  align-items: center;

  .switch-bg {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    background-color: #475c64;
    border-radius: 1.5rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
  }

  .switch-dot {
    position: absolute;
    left: 0.25rem;
    right: 1.75rem;
    height: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    animation: toggleSwitchOff 0.5s forwards;
  }

  &.active .switch-bg {
    background-color: #2a7b9b;
  }

  &.active .switch-dot {
    animation: toggleSwitchOn 0.5s forwards;
  }
}

@keyframes toggleSwitchOn {
  0% {
    left: 0.25rem;
  }
  50% {
    right: 0.25rem;
  }
  100% {
    left: calc(100% - 1.25rem);
    right: 0.25rem;
  }
}
@keyframes toggleSwitchOff {
  0% {
    left: calc(100% - 1.25rem);
    right: 0.25rem;
  }
  35% {
    right: 0.25rem;
  }
  100% {
    left: 0.25rem;
  }
}

#autoAuth-setting {
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.5rem;
  height: 3.5rem;
  overflow: hidden;
  animation: pullAutoAuthUp 0.5s forwards;

  &:hover {
    transition: filter 0.2s ease-in-out;
    filter: brightness(0.8);
  }

  &:has(.active) {
    height: 16.2rem;
    animation: pullAutoAuthDown 0.5s forwards;
    transition: filter 0.2s ease-in-out;
    filter: brightness(1);
  }

  .setting {
    background-color: unset;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  #autoAuth-credentials {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: calc(100% - 1.5rem);

      &:hover {
        cursor: pointer;
      }
    }

    input {
      width: calc(100% - 3rem);
      outline: transparent;
      transition: all 0.2s ease-in-out;
    }
  }
}

@keyframes pullAutoAuthDown {
  0% {
    height: 3.5rem;
  }
  100% {
    height: 16.2rem;
  }
}
@keyframes pullAutoAuthUp {
  0% {
    height: 16.2rem;
  }
  100% {
    height: 3.5rem;
  }
}

.label-icon {
  color: white;
  background-color: #475c64;
  padding: 8px;
  padding-top: 9px;
  padding-bottom: 7px;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  transition: transform 0.2s;
}

#algConfig,
#algs,
.algorithm {
  margin-bottom: 0;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    border-radius: 0;
    &:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
    &:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  i {
    color: #475c64;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

fieldset {
  cursor: default !important;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

textarea {
  resize: none;
  cursor: text !important;
  text-wrap: wrap;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  outline: transparent;
  width: calc(100% - 1rem);
  height: 10rem;
}

.algTopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: transparent;
  }

  button {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.makeTextareaFullscreen {
      border-radius: 0;
    }
  }
}

#fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;

  #closeFullscreen {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #475c64;
    color: white;
    padding: 0.5rem;
    border-radius: 0 10rem 10rem 0;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    z-index: 1002;
  }

  #fullscreenTitle {
    position: absolute;
    margin: 1rem;
    background-color: #475c64;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    width: calc(100% - 5rem);
    height: 2rem;
    border-radius: 10rem 0 0 10rem;
    padding-left: 1rem;
    outline: transparent;
    z-index: 1001;
  }

  #fullscreenContent {
    position: absolute;
    top: 5rem;
    left: 0;
    height: calc(100% - 9rem);
    width: calc(100% - 4rem);
    background-color: #475c64;
    margin: 1rem;
    border-radius: 1.5rem;
    color: white;
    padding: 1rem;
  }
}

#cssConfig .label {
  margin-bottom: 1rem;
}

.CodeMirror {
  font-family: "JetBrains Mono", monospace;
  border-radius: 1rem 1rem 0 0;
  resize: vertical;
}

#saveCss {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.centerText {
  text-align: center;
}

.w100 {
  width: 100%;
}

#refreshPBI {
  cursor: pointer;
  display: flex;
  justify-content: center;

  i {
    color: #475c64;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

header {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  display: flex;
  justify-self: center;
  font-size: 2rem;
  font-weight: 700;

  img {
    width: 10rem;
    margin-right: 0.5rem;
  }

  .subheader {
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 2.5rem;
    font-weight: 700;

    .subtitle {
      font-size: 2rem;
      font-weight: 200;
    }
  }

  .verticalSeparator {
    width: 2px;
    height: 7.5rem;
    background-color: rgba(42, 123, 155, 0.5);
    align-self: center;
    margin: 0 0.5rem;
  }
}

.scale-in-out {
  scale: 0.1;
  transition: all 0.3s ease-in-out !important;
}

.scale-in-out.inView,
.scale-in-out.setting.button.active {
  scale: 1;
  transition: all 0.3s ease-in-out !important;
}

button {
  scale: 1;
  transition: all 0.2s ease-in-out !important;
  filter: brightness(1) !important;

  &:hover {
    scale: 1.03;
    transition: all 0.2s ease-in-out !important;
    filter: brightness(0.9) !important;
    cursor: pointer;
  }

  &:active {
    scale: 0.75;
    transition: all 0.1s ease-in-out !important;
  }
}

.beta {
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  background-color: #ff933a;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}
